<div class="jumbotron">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input ng-model="user.username" type="text" id="inputEmail" class="form-control" placeholder="User Name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" ng-model="user.password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button ng-click="login()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>
<div class="row marketing">
  <h2>{{message}}</h2>
</div>